@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Tagesschrift&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body{
    overflow-x: hidden;
}


header {
    background-color: #e6912fa1;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;

}

.logo_header{
    font-family: 'Amaranth', sans-serif;
    font-size: 50px;
    text-shadow: 1px 1px 3px;
    box-sizing: border-box;
}

.logo_cruzeiro {
    box-sizing: border-box;
    position: relative;
    left: 50%;

}

.cruzeiro_sul {
    width: 20%;
    height: auto;
    box-sizing: border-box;
    border: none;
}

.voltar_inicio{
    text-decoration: none;
    color: #000;
}

.voltar_inicio:hover{
    color: #8ACE9A;
}

.barra_de_menu{
    background-color: #e6902f;
    display: flex;
    padding: 10px;
}

.dropbtn {
  background-color: #e6902f;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 25pt;
  font-weight: 700;
}

.titulo_pagina{
    position: relative;
    left: 73%;
    top: 23px;
}

.assunto_pagina{
    font-family: 'Bree Sarif', sans-serif;
    font-size: 20pt;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e6902f;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  display: block;
  font-family: 'Bree Sarif', sans-serif;
  font-size: 16pt;
  border-bottom: 1px solid #000000;
  border-radius: 20px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: wheat}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #e6902f;}

main {
    background-color: #EBEBEB;
    background: fixed;
    margin: 100px;
    margin-top: 0;
}

.sub_sub_titulo{
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
}

.sub_titulo_artigo{
    font-family: 'Bree Serif', sans-serif;
    text-align: center;
    font-size: 30pt;
    padding: 40px;
}

.topicos_lista{
    text-align: justify;
}

.texto_principal_marcacao {
    font-size: 18pt;
    text-align: justify;
}

.texto_principal_marcacao_2{
    font-size: 18pt;
    text-align: justify;
}

.marcacao_cor{
    background-color: rgba(248, 177, 44, 0.644);
}

.lista_exemplos{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
    position: relative;
    left: 5%;
    text-align: justify;
    
}

.texto{
    margin: 40px 40px;
}

.texto_principal{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
    text-align: justify;
    text-indent: 1.25cm;
    margin: 0 0 1em 0;

}

.img{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    gap: 20px;
}

.img_teste img{
    width: 50%;
    height: auto;
    position: relative;
    left: 25%;
    padding: 20px 0;
}

.legenda_img {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    text-align: center;
    word-spacing: 2px;
    padding: 20px 0;
}

.ampliar {
    cursor: pointer;
    text-decoration: none;
}

.sutura_plana{
    width: 400px;
    position: relative;
    bottom: 50px;
}

.sutura_serreada{
    width: 430px;
    position: relative;
    bottom: 50px;
}

.gonfose{
    width: 400px;
    position: relative;
    bottom: 30px;
}


footer{
    background-color: #e6912fa1;
}

.cargos{
    display: flex;
    justify-content: space-evenly;
}

h3{
    font-family: 'Bree Serif', sans-serif;
    font-weight: 100;
    font-size: 18pt;
    padding: 20px;
}

.logo_instagram {
    width: 80px;
}

.social {
    display: flex;
    justify-content: space-evenly;
}

.padrao_social{
    display: flex;
    align-items: center;
}

.texto_social{
    font-family: 'Bree Sarif', sans-serif;
    font-size: 14pt;
    font-weight: 600;
}

.ancora{
    text-decoration: none;
    color: inherit;
}

/* Ajustes para telas até 768px (tablets e celulares grandes) */
@media (max-width: 412px) {
    
    body{
        box-sizing: border-box;
    }
    
    .container {
        padding: 20px;
        box-sizing: border-box;
    }

    .logo_vet {
        width: 5rem;
    }

    .logo_header {
        font-size: 30px;
        text-align: left;
    }

    .logo_cruzeiro {
        position: static;
        margin:  auto;
        display: none;
    }

    .cruzeiro_sul {
        width: 20rem;
        height: auto;
        display: none;
    }

    main {
        background-color: #EBEBEB;
        background: fixed;
        margin: 0;
    }

    .titulo {
        position: relative;
        left: 50%;
    }

    .titulo_conteudo {
        font-size: 22px;
        text-align: center;
        position: relative;
        left: 30%;
        bottom: 4px;
    }

    .barra_de_menu{
        background-color: #a59d84;
        display: flex;
        padding: 5px;
    }

    .titulo_pagina{
        position: relative;
        left: 38%;
        top: 23px;
    }

    .assunto_pagina{
        font-family: 'Bree Sarif', sans-serif;
        font-size: 16pt;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
        padding-left: 40px;
    }


/* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #e6912fa1;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 20px;
    }

/* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 20px 20px;
        text-decoration: none;
        display: block;
        font-family: 'Bree Sarif', sans-serif;
        font-size: 16pt;
        border-bottom: 1px solid #000000;
        border-radius: 20px;
    }

/* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: wheat;}

/* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #a59d84;}

    .sub_sub_titulo{
        font-size: 15pt;
    }

    .texto_principal_marcacao{
        font-size: 14pt;
    }

    .lista_exemplos{
        font-size: 14pt;
    }

    .texto_principal {
        font-size: 14pt;
        margin: 5px;
    }

    .sub_titulo_artigo{
        font-size: 25pt;
        padding: 20px;
        margin-top: 20px;
    }

    h3 {
        font-size: 12pt;
        text-align: center;
    }

    .padrao_social{
        margin: 5%;
    }

    .texto_social{
        font-size: 10pt;
    }

    .cargos, .social {
        display: inline-block;
        vertical-align: middle;
    }


    .logo_instagram {
        width: 50px;
    }

    .img{
    display: flex;
    flex-direction: column;
    padding: 20px 0 50px;
    gap: 20px;

    }

    .sutura_plana {
        width: 300px;
        left: 60px;
    }

    .sutura_serreada{
        width: 80%;
        left: 50px;
        top: 20px;
    }

    .gonfose{
        width: 70%;
        left: 70px;
        top: 60px;
    }

    .texto_principal_marcacao_2{
    font-size: 14pt;
    text-align: justify;
    }
}
