* {
  margin: 0;
  padding: 0;
}

.cabecalho {
  background-color: #14661e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.fundo_wallpaper {
  width: 50%;
  margin-left: 45%;
  position: relative;
  top: 27px;
}

.nome_site {
  color: white;
  position: relative;
  left: 150px;
  font-size: 17pt;

}

.logo_med_vet{
  width: 350%;
  position: relative;
  left: 20px;
}